/* -------------------   Fonts  --------------- */
@font-face {font-family:'Gotham-Medium';src: url('font/GothamRounded-Medium.eot');src: url('font/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),url('font/GothamRounded-Medium.woff') format('woff'),url('font/GothamRounded-Medium.ttf') format('truetype'),url('font/GothamRounded-Medium.otf') format('opentype'),url('font/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');font-weight: 350;font-style: normal;font-stretch: normal;unicode-range: U+0020-FB04;}
@font-face {font-family: 'Gotham-Light';src: url('font/gotham-rounded-light.eot');src: url('font/gotham-rounded-light.eot') format('embedded-opentype'),url('font/gotham-rounded-light.woff2') format('woff2'),url('font/gotham-rounded-light.woff') format('woff'),url('font/gotham-rounded-light.ttf') format('truetype'),url('font/gotham-rounded-light.svg#GothamRoundedLight') format('svg');}
@font-face {font-family: "Gotham-Book";src: url('font/218994141-GothamRoundedBook_21018.eot');src: url('font/218994141-GothamRoundedBook_21018.eot?#iefix') format('embedded-opentype'),url('font/218994141-GothamRoundedBook_21018.svg#Gotham Rounded') format('svg'),url('font/218994141-GothamRoundedBook_21018.woff') format('woff'),url('font/218994141-GothamRoundedBook_21018.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: "Gotham-Bold";src: url('font/22155762-Gotham-Rounded-Bold_21016.eot');src: url('font/22155762-Gotham-Rounded-Bold_21016.eot?#iefix') format('embedded-opentype'),url('font/22155762-Gotham-Rounded-Bold_21016.svg#Gotham Rounded') format('svg'),url('font/22155762-Gotham-Rounded-Bold_21016.woff') format('woff'),url('font/22155762-Gotham-Rounded-Bold_21016.ttf') format('truetype');font-weight: normal;font-style: normal;}

body,html {
  height: 100%;
  font-family: "Gotham-Book";
}

.text-bold{font-family: "Gotham-Bold";}
.text-medium{font-family: "Gotham-Medium";}
.text-book{font-family: "Gotham-Book";}
.text-light{font-family: "Gotham-Light";}

body {
  padding-top: 0px;
  background-color: #F3F3F3;
}

/*header image*/
.header-img {
  width:100%;
  height:85%;
  height:calc(85% - 1px);
  min-height: 500px;
  background-image:-moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%),url('../img/piano.jpg');
  background-image:-webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%),url('../img/piano.jpg');
  background-image:linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%),url('../img/piano.jpg');
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=1 );
  background-size:cover;
}

.header-img img {
  width:100%;
}

.header-img .header-txt{
  padding-top:40vh;
  padding-bottom:10vh;
  font-size: 40px;
  color: white;
  line-height: 1.5em;
}

.has-feedback-left input.form-control {
  padding-left: 34px; 
  padding-right: 12px; 
}
.has-feedback-left .form-control-feedback {
  left: 15px;
}

.header-img .header-search{
  width: 60%;
  text-align: center;
}

.header-btn{
  width: 150px;
  background-color: #1CBBB4;
  border-color: #1CBBB4;
  color: white;
}

.mr-10{
  margin-right: -10px;
}

.ml-10{
  margin-left: -10px;
}

.pr-10{
  padding-right: -10px;
}

.pl-10{
  padding-left: -10px;
}

/*navbar*/
.navbar{
  background-color:transparent;
  border-color:transparent;
}

/*navbar links*/
.navbar-inverse .navbar-nav>li>a{
  color:white;
}

/*navbar logo*/
.nav-logo{
  width:200px;
  height:40px;
  margin-top: -10px;
}

.dark-header{
  padding-top: 50px;
  transition: background-color 1s ease,padding-top 1s ease;
  -webkit-transition: background-color 1s ease,padding-top 1s ease;
  -moz-transition: background-color 1s ease,padding-top 1s ease;
  -o-transition: background-color 1s ease,padding-top 1s ease;
  background-color: transparent;
}

.clear-header{
  padding-top: 0px;
  transition: background-color 1s ease,padding-top 1s ease;
  -webkit-transition: background-color 1s ease,padding-top 1s ease;
  -moz-transition: background-color 1s ease,padding-top 1s ease;
  -o-transition: background-color 1s ease,padding-top 1s ease;
  background-color: black;
}

/*slider*/
.slider {
  width: 90%;
  margin: 50px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #1CBBB4;
}

.slick-disabled{
  display: none !important;
}

.categories{
  background-color: white;
  border: 1px #E8E8E8 solid;
  margin-bottom: 50px;
}

.category-1{
margin-top: 10px;
}
/*slider*/

/*last-div footer*/
.last-div, .last-div .links a{
  background-color: #707070;
  color: #FEFEFE;
}

.last-div .container{
  padding-top: 50px;
  padding-bottom: 30px;
}

.last-div h2{
  margin-top: 0px;
}

.last-div .fa{
  font-size: 30px;
}

.last-div input, .last-div textarea, .last-div button{
  background-color: #EBEBEB;
}

.last-div button{
  width: 120px;
}

footer{
  color: #9B9B9B;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

footer .links a{
  padding-left: 10px;
  padding-right: 10px;
  color: #9B9B9B;
}

.footer-nav {
    text-align: right;
}

@media only screen and (max-width: 993px) {
    .footer-nav, footer .container .row div:first-child {
        text-align: center;
    }
}